/* Mobile and tablet */
@media (max-width: 1023px) 
{
    :root 
    {
        --header-height: 60px;
        --navbar-height: 0px;
    }

    .hide-on-mobile-tablet 
    {
        display: none;
    }

    .header 
    {
        position: fixed;
        z-index: 10;
        width: 100%;
        height: 60px;
    }
 
    .header__sort-bar 
    {
        display: flex;
    } 

    .app__container
    {
        padding-top: 108px;
    }

    .tieude
    {
        display: flex;
        justify-content: space-around;
            
    }

   .clock1
    {
        align-items: center;
        justify-content: center;
        font-size: 24px;
        color: var(--text-color);
        border-radius: 10px;
        border: none;
        flex-basis: 20%;
        margin-top: 16px;
    }

   .name 
    {
        flex: 1;
        text-align: center;
    }

   .user
    {
        flex-basis: 20%;
        justify-content:right ;
    }

   .home-product-item
    {
        margin-bottom: 15px;
    }

   .row.no-gutters 
    {
        margin-left: 0;
        margin-right: 0;
    }

    .row.no-gutters .col 
    {
        padding-left: 0;
        padding-right: 0;
    }

    .autobutton
    {
        border: none;
    }

    .handbutton 
    {
        margin-top: 0;
    }

    .pumpbutton
    {
        border: none;
    }

    .servobutton
    {
        border: none;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) 
{
    .hide-on-tablet 
    {
        display: none;
    }

   .t-o-05 
    {
        margin-left: 3%;
    }

    .t-o-04 
    {
        margin-left: 1.3%;
    }
}

/* Mobile */
@media (max-width: 739px) 
{
    .hide-on-mobile-tablet
    {
        display: none;
    }
}

/* PC */
@media (min-width: 1024px) 
{
    .hide-on-pc
    {
        display: none;
    }
}